# MILESTONE PHASE 0

Nama : Rifky Iqbal Algifari  
Batch : CODA-RMT-007

Dikarenakan banyaknya tren olahraga khususnya lari, maka melalui program ini ingin melihat penjualan Sepatu Lari di online store LAZADA.
data yang diambil melalui web scrapping dengan melakukan pengambilan data hingga 10 slide

---

A. Data ini diambil dari e-commerce LAZADA dengan melakukan pencarian produk yaitu Sepatu Lari.

In [ ]:
# import packages
from selenium import webdriver
from bs4 import BeautifulSoup
import pandas as pd
import time

# initialize selenium browser - Chrome
driver = webdriver.Chrome()

# initialize DataFrame
df = pd.DataFrame()

# prepare temp list for storing all team names
Product_Name = []
Price = []
City_Shop = []
Sold = []
Rating = []
Review = []

# Rating Map, fungsi ini digunakan dikarenakan untuk rating di LAZADA menggunakan icon Star
rating_map = {
    'Dy1nx': 1.0,
    'JhD+v': 0.9,
    'K8PID': 0.8,
    'i6t3-': 0.7,
    '+5T4q': 0.6,
    'fqfC4': 0.5,
    'TZlP8': 0.3,
    'yWGJ-': 0.2,
    'W1iJ5': 0.0
}

# A for loop is used in this script to iterate through multiple pages on Tokopedia, specifically from page 1 to 10
for pagenum in range(1, 11):
    # define target url
    url = f"https://www.lazada.co.id/catalog/?page={pagenum}&q=sepatu%20lari&spm=a2o4j.searchlist.search.d_go.7be62626h29nRl"
    
    # tell the browser to open the web page
    driver.get(url)

    # beri waktu ekstra (opsional)
    time.sleep(5)

    # extracting html from the page - in strings
    html = driver.page_source

    # convert html string to BeautifulSoup object
    soup = BeautifulSoup(html, "html.parser")

    # find td elements
    result = soup.find_all('div', {"class":"Ms6aG MefHh"})

    # because the result is in list, we can use loop to process each elements
    for div_element in result:
        name = div_element.find('div', {"class": "RfADt"})
        harga = div_element.find('span', {"class": "ooOxS"})
        toko = div_element.find('span', {"class": "oa6ri"})
        terjual = div_element.find('span', {"class": "_1cEkb"})
        rate = div_element.find('div', {"class": "mdmmT _32vUv"})
        komen = div_element.find('span', {"class": "qzqFw"})

        if name != None:
            Product_Name.append(name.get_text().strip())
        else:
            Product_Name.append(None)

        if harga != None:
            Price.append(harga.get_text().strip())
        else:
            Price.append(None)

        if toko != None:
            City_Shop.append(toko.get_text().strip())
        else:
            City_Shop.append(None)

        if terjual != None:
            Sold.append(terjual.get_text().strip())
        else:
            Sold.append(None)

        if rate:
            stars = rate.find_all('i')
            total = 0
            for star in stars:
                classes = star.get('class', [])
                for cls in classes:
                    if cls != '_9-ogB' and cls in rating_map:
                        total += rating_map[cls]
                        break
            Rating.append(round(total, 1))
        else:
            Rating.append(None)

        if komen != None:
            Review.append(komen.get_text().strip())
        else:
            Review.append(None)
        


# close the browser session
driver.quit()

df['Product_Name'] = Product_Name
df['Price'] = Price
df['City_Shop'] = City_Shop
df['Sold'] = Sold
df['Rating'] = Rating
df['Review'] = Review

display(df)

# Note 
# Khusus Query "if rate : stars" diatas menggunakan referensi AI

,Product_Name,Price,City_Shop,Sold,Rating,Review
0,SEPATU OLAHRAGA VOLI BASKET TENIS BADMINTON LA...,"Rp185,800",Kab. Tangerang,None,NaN,None
1,PUMA Sepatu Lari Slip-on Softride Astro,"Rp209,099",Kota Jakarta Pusat,None,NaN,None
2,Ortuszeight Sepatu Running Hyperglidee 3.1 Whi...,"Rp137,000",Kota Palembang,None,NaN,None
3,sepatu olahraga lari hyperblast 2.1 running,"Rp152,000",Kab. Tangerang,5 sold,5.0,(2)
4,(TERLARIS) ORTUSEIGHT HYPERGLIDE 2.0-SEPATU OL...,"Rp20,000",Kab. Tangerang,125 sold,4.9,(68)
...,...,...,...,...,...,...
395,Ortuseight running shoes sports ortuseight sne...,"Rp130,000",Kab. Tangerang,25 sold,5.0,(3)
396,Celana Training Panjang Dewasa Pria Murah Olah...,"Rp25,500",Kab. Cirebon,6 sold,NaN,None
397,SP32 Sepatu olahraga pria cowok cowo sekolah s...,"Rp29,500",Kab. Bogor,None,5.0,(1)
398,S41 Sepatu olahraga pria cowok cowo sekolah sp...,"Rp29,500",Kab. Bogor,None,NaN,None
399,PALING LARIS!!!Sepatu Lari Hoka Mach 6 Wanita ...,"Rp61,000",Kab. Tangerang,None,5.0,(0)

In [ ]:
# Fungsi ini digunakan untuk melakukan penyimpanan file mentah hasil scraping ke csv
df.to_csv('Running_Shoes_Lazada.csv')

Setelah melalui proses scraping dengan time sleep (5) dengan mengambil 10 slide, maka didapat hasil 400 rows dengan 6 columns. Langkah selanjutnya dilakukan ekplorasi data sederhana agar didapatkan data yang sesuai dengan yang diinginkan.

---

### B. Langkah selanjutnya melakukan eksplorasi data sederhana

In [ ]:
# Fungsi ini digunakan untuk melihat info nama kolom, data null, dan data type hasil scraping
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product_Name  400 non-null    object
 1   Price         400 non-null    object
 2   City_Shop     400 non-null    object
 3   Sold          267 non-null    object
 4   Rating        297 non-null    float64
 5   Review        297 non-null    object
dtypes: float64(1), object(5)
memory usage: 18.9+ KB

Dari hasil diatas, maka dapat dilihat data yang berhasil diambil adalah 400, dan ada 6 kolom, lalu terlihat data non null, dan data type yang dihasilkan.

---

In [ ]:
# Fungsi ini digunakan untuk melihat data null yang ada di setiap kolom
df.isnull().sum()

Product_Name      0
Price             0
City_Shop         0
Sold            133
Rating          103
Review          103
dtype: int64

Dari hasil diatas, maka dapat dilihat bahwa data khususnys kolom sold, rating, dan review masih ada data null yang dihasilkan, dan kolom lainnya tidak ada data null, ini menandakan bahwa ada beberapa produk yang belum ada data terjual, rating, review, karena kosong.

---

In [ ]:
# Fungsi ini untuk digunakan untuk menghitung jumlah nilai unik (distinct) di setiap kolom (atau baris) dalam data
df.nunique()

Product_Name    353
Price           253
City_Shop        28
Sold            133
Rating           21
Review           93
dtype: int64

### C. Langkah dibawah ini untuk menghilangkan kata yang tidak perlau di kolom price dll, dan melakukan perubahan data type

In [18]:
# Fungsi dibawah ini untuk menghilangkan tanda (Rp) di kolom Price dan (K) di dalam kolom SOLD karena terdapat dua jenis data, agar data yang dihasilkan bersih dan sesuai

df['Price'] = df['Price'].str.replace('Rp','').str.replace(',','').str.replace('.','').astype(int)

In [19]:
df['Sold'] = df['Sold'].str.replace('sold','').str.strip()

In [20]:
# Fungsi dibawah ini untuk menghilangkan tanda (.) dan (K) di dalam kolom SOLD karena terdapat dua jenis data, agar data yang dihasilkan bersih dan sesuai

def change_sold(value):
    if pd.isna(value):
        return 0
    value = str(value).replace('.', '').strip()
    if 'K' in value:
        return int(float(value.replace('K', '')) * 100)
    else:
        return int(float(value))


df['Sold'] = df['Sold'].apply(change_sold)

# Beberapa Query diatas menggunakan referensi AI

In [21]:
# Fungsi ini digunakan untuk menghilangkan tanda dalam kurung di dalam kolom review
df['Review'] = df['Review'].str.replace('(','').str.replace(')','')

In [22]:
# Fungsi ini digunakan untuk mengubah data NaN menjadi angka 0 dan mengubah tipe data menjadi Integer, agar sesuai dengan hasil yang diinginkan
df['Review'] = df['Review'].fillna(0)
df['Review'] = df['Review'].astype(int)

Langkah selanjutnya melakukan pengecekan kembali data yang telah dilakukan perbaikan data, agar data yang dihasilkan sesuai yang diinginkan

---

In [26]:
df.head()

,Product_Name,Price,City_Shop,Sold,Rating,Review
0,SEPATU OLAHRAGA VOLI BASKET TENIS BADMINTON LA...,185800,Kab. Tangerang,0,NaN,0
1,PUMA Sepatu Lari Slip-on Softride Astro,209099,Kota Jakarta Pusat,0,NaN,0
2,Ortuszeight Sepatu Running Hyperglidee 3.1 Whi...,137000,Kota Palembang,0,NaN,0
3,sepatu olahraga lari hyperblast 2.1 running,152000,Kab. Tangerang,5,5.0,2
4,(TERLARIS) ORTUSEIGHT HYPERGLIDE 2.0-SEPATU OL...,20000,Kab. Tangerang,125,4.9,68

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Product_Name  400 non-null    object
 1   Price         400 non-null    int64
 2   City_Shop     400 non-null    object
 3   Sold          400 non-null    int64
 4   Rating        297 non-null    float64
 5   Review        400 non-null    int64
dtypes: float64(1), int64(3), object(2)
memory usage: 18.9+ KB

Dari hasil pengecekan diatas, telah berhasil dilakukan perbaikan :
1. kolom Price yaitu data yang dihasilkan hanya menampilkan angka saja.
2. kolom Sold jenis data yang ditampilkan hanya angka saja dan data kosong diisi dengan angka 0.
3. kolom Review tanpa tanda kurung dan data kosong diisi dengan angka 0. 
4. Masing masing kolom telah diganti tipe datanya sesuai dengan isi kolom.

---

File yang telah dilakukan eksplorasi data dan perbaikan data disimpan kembali ke dalam file .csv

In [31]:
df.to_csv('Running_Shoes_Lazada_done.csv')

Referensi
1. Materi dan Pembelajaran Hacktiv8
2. Lazada.co.id
3. Stackoverflow
4. ChatGPT
5. Channel Youtube "iKEEP OnTrack"